* {
    font-family: Palatino, Georgia, 'Times New Roman', Times, serif;
    background-color:#3CB371;
    width: 80%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {border-bottom:1px solid #eee};
}